@tailwind base;
@tailwind components;
@tailwind utilities;
.projectSliderBg {
  background: linear-gradient(to right, #f9d8d9, #f5b8b8);
}
.cardOut {
  border: 4px solid #4f555d;
  border-radius: 20px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
}
.containerr {
  @apply w-11/12 mx-auto py-16;
}
.cardIn {
  border: 6px solid #292d32;
  border-radius: 20px;
  padding: 16px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}
/* style={{border: "2px solid #292d32",
  borderRadius: "20px",
  padding: "6px",
  boxShadow: "-5px -5px 15px rgba(255, 255, 255, 0.01),  5px 5px 15px rgba(0, 0, 0, 0.35),     inset -5px -5px 15px rgba(255, 255, 255, 0.1), inset 5px 5px 15px rgba(0, 0, 0, 0.35)" }}  */
.cardInform {
  border: 0px solid #292d32;
  border-radius: 20px;
  padding: 5px 16px;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.05),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

/* .image-card {
  position: relative;
  height: 300px;
  overflow: hidden;
}

.image-card img {
  width: 100%;
  height: fit-content;
  transition: transform 5s ease-in;
}

.image-card img.hovered {
  transform: translateY(-50%);
} */
